html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, a, label {
  font-family: "Helvetica Neue";
}

h1 {
  font-size: 11em;
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: 5em;
  font-weight: 500;
}

p, a {
  -webkit-transition-duration: .4s !important;
          transition-duration: .4s !important;
  -webkit-transition-timing-function: ease !important;
          transition-timing-function: ease !important;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7;
  text-decoration: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
  font-size: 1.1em;
  color: white;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  border-bottom: 2px solid white;
}

.button:hover {
  background: #06136E;
  padding: 12px 30px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.7);
}

.button img {
  height: 15px;
  width: 24px;
  padding-left: 10px;
}

.lander {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: calc(100vh - 100px) 100px;
      grid-template-rows: calc(100vh - 100px) 100px;
}

.lander .main {
  background: -webkit-gradient(linear, left bottom, left top, from(#071fd3), to(#06136E));
  background: linear-gradient(to top, #071fd3, #06136E);
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 60px;
}

.lander .main .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 1.1em;
  width: 300px;
  color: white;
}

.lander .main .location img {
  height: 24px;
  margin-right: 10px;
}

.lander .main h1 {
  z-index: 1;
  margin-bottom: 30px;
}

@media screen and (min-height: 800px) {
  .lander .main h1 {
    font-size: 15em;
  }
}

@media screen and (min-height: 900px) {
  .lander .main h1 {
    font-size: 20em;
  }
}

.lander .main .description {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  margin-bottom: 30px;
  margin-right: 60px;
}

.lander .main .description em {
  color: white;
  font-style: normal;
}

.lander .landerBG {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  background-image: url("../img/landerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  position: inherit;
  z-index: 0;
  width: auto;
}

.lander .fundraising {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lander .fundraising p {
  width: calc(60vw - 170px);
  padding-left: 40.5px;
  font-weight: 300;
}

.lander .fundraising p b {
  font-style: italic;
}

.lander .fundraising p em {
  font-style: normal;
}

.lander .fundraising a {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 50.5px solid white;
  border-left: 50.5px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(7, 31, 211, 0.2);
  -webkit-transition-timing-function: ease out;
          transition-timing-function: ease out;
}

.lander .fundraising a:hover {
  border: 0px solid white;
}

.lander .fundraising a img {
  height: 19px;
}

.section1 {
  width: 100%;
  background: #071fd3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.section1 .column {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1 h2 {
  color: white;
  margin-bottom: 20px;
  font-weight: 700;
}

.section1 p {
  color: rgba(255, 255, 255, 0.7);
  width: 80%;
  font-weight: 400;
}

.section1 p strong {
  font-weight: 400;
  color: white;
}

.section1 a {
  margin-top: 20px;
}

.section1 .second {
  display: none;
}

.section1 .large {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: 200;
}

.section1 .large b {
  color: white;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */