@import "master";

* {
    margin: 0;
    padding: 0;
    transition-duration: .4s;
    transition-timing-function: ease;
}
html {
    width: 100%;
    overflow-x: hidden;
}
body {
    width: 100%;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, p, a, label {
    font-family: "Helvetica Neue";
}
h1 {
    font-size: 11em;
    font-weight: 800;
    line-height: 1;
}
h2 {
    font-size: 5em;
    font-weight: 500;
}
p, a {
    transition-duration: .4s !important;
    transition-timing-function: ease !important;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7;
    text-decoration: none;
}

.button {
    display: flex;
    align-items: center;
    padding: 12px 0;
    font-size: 1.1em;
    color: white;
    transition-duration: .2s;
    border-bottom: 2px solid white;

    &:hover {
        background: $darkBlue;
        padding: 12px 30px;
    }
    
    img {
        height: 15px;
        width: 24px;
        padding-left: 10px;
    }
}

.lander {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: calc(100vh - 70px) 70px;

    .main {
        background-image: url("../img/landerBg.png");
        background-repeat: no-repeat;
        background-size: cover;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 60px;
        box-sizing: border-box;
        padding: 0 30px;

        .location {
            color: white;
            z-index: 1;
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            font-weight: 500;
            font-size: 1.1em;
            width: 300px;

            img {
                height: 24px;
                margin-right: 10px;
            }
        }
        h1 {
            z-index: 1;
            margin-bottom: 30px;
            font-size: 22vw;
        }
        .description {
            display: none;
        }
        a {
            z-index: 1;
            margin: 0;
        }
    }
    .landerBG {
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100vw;
        background: $blue;
        display: none;
    }
    .fundraising {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            width: calc(100vw - 170px);
            padding-left: 40.5px;
            font-weight: 300;
            b {
                font-style: italic;
            }
            em {
                display: none;
                font-style: normal;
            }
        }
        a {
            height: 70px;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 35.1px solid white;
            border-left: 35.1px solid white;
            box-sizing: border-box;
            background: rgba(7, 31, 211, .2);
            transition-timing-function: ease out;

            &:hover {
                border: 0px solid white;
            }

            img {
                height: 19px;
            }
        }
    }
}

.section1 {
    width: 100%;
    background: linear-gradient($blue, $darkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    flex-direction: column;

    .column {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .column1 {
        margin: 0;
    }
    h2 {
        color: white;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 2.5em;
        text-align: center;
    }
    p {
        color: rgba(255,255,255,.7);
        width: 90%;
        font-weight: 400;
        text-align: center;
        margin-bottom: 30px;

        strong {
            font-weight: 400;
            color: rgba(255,255,255,1);
        }
    }
    a {
        margin-top: 20px;
    }
    .first {
        display: none;
    }
    .second {
        display: flex;
    }
    .large {
        color: rgba(255,255,255,.7);
        line-height: 1;
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: 200;

        b {
            color: rgba(255,255,255,1);
            font-weight: 700;
        }
    }
}